.carousel-initialized{
    width : 90vw;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding-bottom: 0.5rem !important;

    .carousel-prev{
        width : 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: lightgray;
        position: absolute;
        top:40%;
    }

    .carousel-next{
        width : 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: lightgray;
        position: absolute;
        top:40%;

    }
    
}