.carouselHeading{
    margin-left : 3rem;
    margin-bottom : 1rem;

}
*{
    font-family: 'Montserrat', sans-serif;
}

.features{
    background-color: #f1fdf7;
    display: flex;
    padding: 3rem;
    margin-top : 4rem;
    .details{
        
        .points{
            
            .features__title{
                display: flex;
                align-items: center;
                gap : 1rem;
                font-weight: 600;
                img{
                    width: 1.5rem;
                    height : 1.5rem;
                }
            }
            .features__desc{
                margin-bottom: 2rem;;
            }
        }
    }
    .features_video{
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        video{
            width : 70%;
            aspect-ratio: 16/9;

        }
    }
}
.marketplace_heading{
    margin-left: 3rem;
}
.marketplace{
    padding: 3rem;
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(4rem,11rem));
    gap : 4rem;
    .market_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        img{
            width:3rem;
            height: 3rem;
        }
        &::after{
            content: "";
            position: absolute;
            border: 1px solid gray;
            width: 40%;
            top : 55%;

            
        }
        &:hover::after{
            border: 1px solid green;
            transition: all 0.5s ease ;
            width: 60%;
        }
    }
}
.projects_container{
    h1{
        margin-left: 3rem;
    }
    margin-bottom: 3rem;
}