.trustedby_container{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    font-family: 'Montserrat', sans-serif;
    span{
        color : lightgray;
        font-weight: bold;
        font-size: 1.1rem;
    }
    img{
        height: 4rem;;
        object-fit: contain;
    }
}